*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

/*  Header  */

.header{
    max-width: 1440px;
    height: 200px;
    margin: 0 auto;
    /*border: 3px solid #e70808;*/
    padding-top: 100px;
}
.container{
    max-width: 1215px;
    margin: 0 auto; 
    /*border: 3px solid #d8c410; */
}
.header__inner{
    display: flex;
    justify-content: space-between;
    /*border: 3px solid #49c916; */
    font-family: 'Lato', sans-serif;
    font-size: 20.83px;
}
.nav{
    /*border: 3px solid #16c9ab;*/ 
    margin: auto 0;
    letter-spacing: -0.020em;    
}
.nav__links{
    text-transform: capitalize;
    font-weight: 300;
    color: #515155;
    margin-right: 74px;
}
.nav__links:hover{
    font-weight: 900; 
    color: #232323;    
}
.nav__links.active, .nav__button{
    font-weight: 900; 
    color: #232323;    
}
.nav__button{
    border: 3px solid #232323; 
    border-radius: 7px;   
    width: 219px;
    margin-right: 17px;
    padding: 13px;
    text-align: center;
}

/*  Intro  */

.intro{
    max-width: 1440px;
    height: 643px;
    margin: 0 auto;
    padding-top: 65px;
    /*border: 3px solid #16c9ab;*/
}
.intro__inner{
    display: flex;
    justify-content: space-between;
    /*border: 3px solid #1c6ac4;*/
}
.intro__left{
    line-height: 1;
    max-width: 440px;
}
.intro__title{
    font-size: 81.48px;
    font-family: 'Cardo', serif;
    font-weight: 700;
    padding-left: 2px;
}
.intro__suptitle{
    text-align: justify;
    font-size: 16.67px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    letter-spacing: -0.013em;
    line-height: 1.17;
    margin-top: 20px;
    margin-bottom: 58px;
}
.intro__button{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 20.83px;
    color: #e9e7e7;
    border: 3px solid #232323;
    border-radius: 5px;
    background: #232323;
    padding: 12px 55px;
    margin-left: 3px;
}
.intro__img{
    margin-right: 19px;
}

/*  Logs  */

.logs{
    max-width: 1440px;
    margin: 0 auto;
    height: 387px;
    /*border: 3px solid #1ad6c7;*/
    background: #232323;
}
.logs__inner{
    width: 470px;
    margin: 0 auto;
    text-align: center;
}
.logs__title{
    font-family: 'Cardo', serif;
    font-weight: 700;
    color: #e9e7e7;
    font-size: 55.46px;
    line-height: 1;
    padding-top:47px;
    padding-left: 3px;
}
.logs__subtitle{
    text-align: justify;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #e9e7e7;
    font-size: 16.67px;
    letter-spacing: -0.013em;
    line-height: 1.17;
    margin: 23px 0 53px 1px;
}
.logs__button{
    font-family: 'Lato', sans-serif;
    font-size: 20.83px;
    font-weight: 900;
    color: #e9e7e7;
    border: 3px solid #e9e7e7;
    border-radius: 6px; 
    background: #232323;
    padding: 13px 56px;
}

/*  section  */

.section{
    max-width: 1440px;
    margin: 0 auto;
    height: 820px;
    margin-top: 166px;
    /*border: 3px solid #df1010;*/
}
.section__inner{
    display: flex;
    justify-content: space-between;
    margin-left: 6px;
    /*border: 3px solid #ca8e0d;*/
}
.section__img::after{
    content: '';
    display: block;
    width: 53px;
    height: 4px;
    background: #000;
    margin-top: 25px;
    margin-bottom: 25px;
}
.section__title{
    width: 235px;
    font-family: 'Cardo', serif;
    font-size: 36.38px;
    font-weight: 700;
    color: #232323;
    /*border: 3px solid #1ad6c7;*/
    line-height: 1;
}
.section__subtitle{
    text-align: justify;
    width: 363px;
    font-family: 'Lato', sans-serif;
    font-size: 16.67px;
    font-weight: 400;
    color: #232323;
/*    border: 3px solid #11cf60;*/
    margin-top: 25px;
}

/* plane section */

.section__plane {
    max-width: 820px;
    margin: 0 auto;
    height: 685px;
    margin-top: 53px;
/*    border: 3px solid #11cf60;*/
}

.plane__img {
    text-align: center;    
}

.plane__title {
    text-align: justify;
    font-size: 99.665px;
    font-family: "Cardo";
    color: rgb(35, 35, 35);
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-top: 56px;
    margin-left: 6px;
    letter-spacing: -0.005em;
    
    
}

.plane__subtitle {
    text-align: center;
    font-size: 24px;
    letter-spacing: -0.006em;
    color: #232323;
    font-weight: 900;
    font-family: 'Lato', sans-serif;
    margin-top: 59px;
}

.text__underline{
    font-style: italic;

}

/*Mountain's section*/

.section_mountains{
    max-width: 1440px;
    height: 610;
   /* border: 3px solid #1ad623;*/
    margin: 0 auto;
}

.mountain__sides{
  /* border: 3px solid #d61a1a;*/
   display: flex;
}

.first_mountain_img{
    padding-left: 5px;
    /*border: 3px solid #781ad6;*/
}

.second_mountain_img{
    display: inline-block;
    vertical-align: top;
    padding-left: -8px;
    /*border: 3px solid #d67e1a;*/
}

.mountains_title{
    width: 240px;
   /* border: 3px solid #d67e1a;*/
    font-family: 'Cardo', serif;
    font-weight: 700;
    font-size: 36.34px;
    line-height: 1.376;
    padding-top: 68px;
    padding-left: 5px;
}

.mountains__subtitle__1{
    width: 325px;
    /*border: 3px solid #d67e1a;*/
    font-family: 'Lato', sans-serif; 
    font-weight: 400;
    font-size: 16.66px;
    margin-left: 43px;
    padding-top: 76px;
}

.mountains__subtitle__2{
    width: 325px;
    height: 226px;
   /* border: 3px solid #d67e1a;*/
    font-family: 'Lato', sans-serif; 
    font-weight: 400;
    font-size: 16.66px;
    margin-left: 43px;
    padding-top: 28px;
}

.mountains_texts{
    display: flex;
}

.right__mountain_side{
    margin-left: 43px;
}

.section__mountains__underline{
    /*border-bottom: 2px solid black;     */
    position:  relative;
}

.section__mountains__underline::before{
    content: "";
    position: absolute;
    bottom: 1px; 
    width: 100%;
    border-bottom: 4px solid #000;  
}

.top__tilted__line{
    width: 38px; 
    height: 3px; 
    background-color: #000;
    float: right;
    margin-top: -11px;
    transform: rotate(45deg);
    border-bottom: 2px solid black;
}

.horizontal__line{
    width: 140px; 
    height: 3px; 
    background-color: #000;
    margin-top: 4px;
    margin-left: 225px; /*Пожалуйста, ПРИДУМАЙТЕ, КАК ЭТО ПОФИКСИТЬ, Я УЖЕ УСТАЛ СИДЕТЬ В ПОДВАЛЕ И РАБОТАТЬ НА КИТАЙ, ХАЧУ ДАМОЙ*/
}

.bottom__tilted__line{
    width: 38px; 
    height: 3px; 
    background-color: #000;
    float: right;
    margin-top: 17px;
    transform: rotate(135deg); 
}

/*  content  */

.content{
    max-width: 1440px;
    height: 872px;
    background: #232323;
    margin: 0 auto;
    /* display: inline-flex;
    align-items: center; */
    /* border: 3px solid yellow;  */
}
.content__inner{
    margin-top: 300px;
    padding-top: 155px;
    display: flex;
    align-items: center;
    /* border: 3px solid red; */
    margin-left: 26px;
}
.content__text{
    width: 470px;
    color: #e9e7e7;
}
.content__title{
    font-family: 'Cardo', serif;
    font-weight: 700;
    font-size: 55.44px;
    line-height: 1;
    height: 222px;
}
.content__subtitle{
    font-family: 'Lato', sans-serif; 
    font-weight: 900;
    font-size: 24.99px;
    vertical-align: bottom;
}
.content__sub__subtitle{
    margin-top: 14px;
    font-family: 'Lato', sans-serif; 
    font-weight: 400;
    font-size: 16.66px;
    margin-bottom: 53px;
}
.content__img{
    margin-top: -55px;
}

/*  section_last  */

.section__last__inner{
    display: flex;
    height: 516px;
    margin-top: 200px;
}
.section__last__title{
    font-family: 'Cardo', serif;
    font-weight: 700;
    font-size: 81.46px;
    line-height: 1;
    width: 750px;
    margin-bottom: 120px;    
}
.section__last__subtitle{
    font-family: 'Lato', sans-serif; 
    font-weight: 400;
    font-size: 16.66px;
    /* margin-bottom: 50px; */
    position: relative;
    height: 64px;
    margin-left: 43px;
}
.section__last__subtitle::before{
    content: "";
    position: absolute;
    width: 736px;
    top: -27px;
    margin-left: -40px;
    border-bottom: 3px solid #000; 
}
.section__create__line{
    width: 738px;
    border-top: 3px solid #000;
    margin-top: -23px;
    position: relative;
}
.section__last__img{
    margin-left: 73px;
}

/*register form*/
.register__form {
    max-width: 1214px;
    height: 948px;
    margin: 0 auto;
    margin-top: 50px;
/*    border: 3px solid red;*/
}

.form__title {
    font-size: 81px;
    letter-spacing: 0.004em;
    line-height: 81px;
    color: #232323;
    font-weight: 700;
    font-family: 'Cardo', serif;
}

.register__form .container {
    display: flex;
    justify-content: space-between;
}

.text__form {
    width: 458px;
    margin: 3px;
/*    border: 3px solid blue;*/
    flex-direction: column;
}

.form__title {
    margin-bottom: 46px;
}

.register__form input {
    width: 454px;
    height: 58px;
    border-radius: 5px;
    background-color: #ffffff;
    border: 3px solid #232323;
    margin-bottom: 26.5px;
    font-size: 21px;
    line-height: 17px;
    color: #232323;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    padding-left: 24px;
}

.register__form textarea {
    width: 454px;
    height: 223px;
    border-radius: 5px;
    background-color: #ffffff;
    border: 3px solid #232323;
    font-size: 21px;
    line-height: 17px;
    color: #232323;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    margin-bottom: 57px;
    resize: none;
    padding-top: 20px;
    padding-left: 23px;
}

.register__form button {
    width: 454px;
    height: 66px;
    border-radius: 5px;
    background-color: #232323;
    font-size: 25px;
    line-height: 17px;
    color: #e9e7e7;
    font-weight: 400;
    font-family: "Lato";
    text-align: center;
    letter-spacing: 0.7px;
}

input::placeholder {
    padding-left: 23px;
    word-spacing: 2px;
}

textarea::placeholder {
    padding-left: 23px; 
    padding-top: 18px;
    word-spacing: 2px;
}
/*Footer*/

.footer {
    background-color: #c4c4c4;
    height: 575px;
    max-width: 1440px;
    margin: 0 auto;
}

.footer__inner {
    display: flex;
    padding-top: 100px;
}

.footer__col--first {
    width: 27%;
    margin-right: 20px;
}

.footer__logo {
    font-size: 63.34px;
    font-weight: 700;
    font-family: 'Cardo', serif;
    line-height: 0.97;
    margin-top: 5px;
}

.footer__col--second {
    width: 12%;
}

.footer__quick__links__first {
    height: 300px;
    line-height: 2.3;
    flex-direction: column;
}

.footer__quick__links__title {
    font-size: 25.04px;
    font-weight: 900;
    font-family: 'Lato', sans-serif;
    margin-top: -8px;
    height: 80px;
}

.footer__links {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 20.86px;
    color: #2e2e2e;
}

.footer__quick__links {
    height: 300px;
    line-height: 2.3;
    flex-direction: column;
    margin-left: 75px;
    padding-top: 70px;
}

.footer__quick__links__third {
    height: 300px;
    line-height: 2.3;
    flex-direction: column;
    margin-left: 100px;
    padding-top: 70px;
}

.footer__quick__links__fourth {
    height: 300px;
    line-height: 2.3;
    flex-direction: column;
    margin-left: 60px;
    padding-top: 70px;
}

.footer__copyright {
    text-align: center;
    font-size: 20.83px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    margin-top: 30px;
}

/* feedbacks */
.container__feedbacks {
    max-width: 1440px;
    margin: 0 auto;  
}

.container__inner {
    display: flex;
    justify-content: center;
}

.feedbacks__title {
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.title_text {
    font-size: 81.46px; 
    font-family: 'Cardo', serif;
    font-weight: 700;
    line-height: 1;
    text-align: center;
}
  

.feedbacks__window__container {
    height: 580px;
    width: 1212px;
    border: 3px solid red;    
    justify-content: space-between;
    align-items: center;
}

.feedback {
    height: 428px;
    width: 390px; 
    margin: 0 40px; 
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;     
}

.customer__name {
    justify-content: center;
    position: absolute;
    display: flex;
    align-items: center; /* Центрировать по вертикали */
    width: 435px;
    height: 50px;
    margin-top: 80px;
}
.name__text {
    text-align: center;
    font-weight: 900;
    font-family: 'Lato', serif;
    font-size: 25px;
    color: #000;
}
.customer__text {
    justify-content: center;
    position: absolute;
    display: flex;
    align-items: flex-end;
    width: 350px;
    height: auto;
}
.feedback__text {
    text-align: center;
    font-weight: 400;
    font-family: 'Lato', serif;
    font-size: 25px;
}



