body {
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    /*text-align: center;*/
    left: 0px;
    top: 0px;
    margin: 0;
}

.nav {
    left: 104px;
    top: 84px;
    /*margin-left: 104px;
    margin-top: 84px;*/
    font-size: 21px;
    font-weight: 900;
}

.nav-elem {
    position: absolute;
    font-size: 21px;
    color: #232323;
    text-decoration: none;
    font-family: 'Lato Black', sans-serif;
    top: 93px;
    left: 111px;
}

.nav-elem1 {
    position: absolute;
    font-size: 20px;
    color: #232323;
    text-decoration: none;
    font-family: 'Lato Light';
    top: 93px;
    left: 247px;
}

.nav-elem2 {
    position: absolute;
    font-size: 20px;
    color: #232323;
    text-decoration: none;
    font-family: 'Lato Light';
    top: 93px;
    left: 384px;
}

.nav-elem3 {
    position: absolute;
    font-size: 20px;
    color: #232323;
    text-decoration: none;
    font-family: 'Lato Light';
    top: 93px;
    left: 517px;
}

.img1 {
    position: absolute;
    top: 241px;
    right: 132px;
}

.img2 {
    position: absolute;
    top: 77px;
    right: 130px;
}

.button {
    position: absolute;
    font-size: 21px;
    color: #232323;
    font-weight: 900;
    font-family: 'Lato Black';
    text-align: center;
    text-decoration: none;
    right: 186px;
    top: 93px;
}





